repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: run-tests
        name: Run tests
        entry: bash -c 'python -m unittest discover -s . -p "*_test.py"'
        language: system
        pass_filenames: false
